body {
  font-family: "Helvetica";
}

p {
  margin: 0;
}

/*! Navbar overide bootsrap  */
.section {
  height: 400px;
}

.navbar-collapse {
  justify-content: end !important;
}

.navbar {
  background-color: #f1f3ff;
}
.navbar li {
  margin-right: 10px;
}
.navbar li a:hover {
  padding: 5px;
  border-bottom: 3px solid #5cb85f;
}
.navbar li:last-child a {
  color: white !important;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}
.navbar li:last-child a:hover {
  padding: 0px;
  border-bottom: 0px solid #5cb85f;
}
.navbar .nav-link {
  color: black !important;
}

/*! Font Custom */
.fonts-heading1 {
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
}
.fonts-heading2 {
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 36px;
}
.fonts-white {
  color: white;
}

/*! Colors Custom  */
.colors-darkblue5 {
  background-color: #091b6f;
}
.colors-darkblue4 {
  background-color: #0d28a6;
}
.colors-darkblue3 {
  background-color: #091b6f;
}
.colors-darkblue2 {
  background-color: #aeb7e1;
}
.colors-darkblue1 {
  background-color: #cfd4ed;
}
.colors-limegreen5 {
  background-color: #5cb85f;
}
.colors-limegreen4 {
  background-color: #5cb85f;
}
.colors-limegreen3 {
  background-color: #92d094;
}
.colors-limegreen2 {
  background-color: #c9e7ca;
}
.colors-limegreen1 {
  background-color: #def1df;
}

/*! Section Hero */
#hero {
  height: 504px;
  background-color: #f1f3ff;
  overflow: hidden;
}

.hero-right {
  position: relative;
  width: 50%;
  height: 100%;
}
.hero-left {
  position: relative;
  width: 50%;
  height: 100%;
  overflow: hidden;
}
.hero-shape {
  position: absolute;
  max-width: 800px;
  width: 50vw;
  height: 20vw;
  right: -10vw;
  bottom: 0px;
  background: #0d28a6;
  border-radius: 60px 0px 0px 0px;
  z-index: 0;
}
.hero-img {
  position: absolute;
  z-index: 1;
  right: -5vw;
  bottom: 40px;
  overflow: hidden;
}

/*! Section Service */
#our-service {
  margin: 20px 0px;
  background-color: #ffffff;
}

.service-item {
  height: 550px;
  padding: 20px 40px;
}
.service-img {
  position: relative;
  width: 374px;
  height: auto;
  z-index: 1;
}
.service-left {
  position: relative;
  width: 50%;
  height: 100%;
}
.service-right {
  position: relative;
  width: 50%;
  height: 100%;
}
.service-right div ul {
  list-style-type: none;
  padding: 0px;
}
.service-right div ul li {
  margin-bottom: 10px;
}
.service-shape-green {
  position: absolute;
  width: 133px;
  height: 133px;
  left: 30px;
  top: 20px;
  border-radius: 50%;
  background: #92d094;
}
.service-shape-yellow {
  position: absolute;
  width: 50px;
  height: 50px;
  left: 100px;
  bottom: 70px;
  border-radius: 50%;
  background: #f9cc00;
}
.service-shape-red {
  position: absolute;
  width: 30px;
  height: 30px;
  right: 150px;
  top: 90px;
  border-radius: 50%;
  background: #fa2c5a;
}

/*! Section Whyus */
#whyus {
  margin: 60px 0px;
  background-color: #ffffff;
}

.card {
  border-radius: 8px !important;
  padding: 16px !important;
}
.card:hover {
  transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.12), 0 4px 8px rgba(0, 0, 0, 0.06);
}

.banner-body {
  padding: 60px 40px;
  border-radius: 10px;
}

/*! Section Testimonial */
#testimonial {
  margin: 20px 0px;
}

.testimonial-carousel {
  overflow: hidden;
  width: 100%;
}
.testimonial-card {
  padding: 30px;
  width: 619px;
  height: 270px;
  background-color: #f1f3ff;
  border-radius: 10px;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15);
}
.testimonial-card-avatar {
  width: 60px;
  height: 60px;
}
.testimonial-card-star {
  width: 20px;
  height: 20px;
}

/*! Caroussel Custom */
.owl-nav {
  display: block !important;
}

.owl-carousel .owl-nav button.owl-prev,
.owl-carousel .owl-nav button.owl-next,
.owl-carousel button.owl-dot {
  background: none;
  color: inherit;
  border: solid 1px #000;
  border-radius: 50%;
  height: 30px;
  width: 30px;
  background-color: #f1f3ff !important;
  padding: 2 !important;
  font: inherit;
}

.owl-carousel .owl-nav button.owl-prev:hover,
.owl-carousel .owl-nav button.owl-next:hover {
  background-color: #5cb85f !important;
}

.owl-carousel .owl-item img {
  display: block;
  width: auto !important;
}

/*! Section Faq */
#faq {
  margin: 60px 0px;
  background-color: #ffffff;
}

.faq-left {
  width: 50%;
}
.faq-right {
  width: 50%;
}

.accordion-item {
  border-style: none;
  margin: 20px 0px;
  border-radius: 10px !important;
  border: 2px solid #d4d4d4 !important;
}
.accordion-button {
  border-radius: 10px !important;
  border: 0px solid #d4d4d4 !important;
}

/*! Footer */
.footer-item {
  padding: 80px 0px;
}
.footer-item a {
  color: black;
  text-decoration: none;
  margin-bottom: 10px;
}
.footer-item a:hover {
  color: #091b6f;
  text-decoration: underline;
}
.footer-item img {
  margin-right: 10px;
}
.footer-sosmed:hover {
  filter: blur(2px);
  -webkit-filter: blur(2px);
}

/*! Media Query */
@media screen and (max-width: 992px) {
  #hero {
    height: 600px;
    background-color: #f1f3ff;
    overflow: hidden;
  }

  .hero-right {
    position: relative;
    width: 100%;
    height: 100%;
  }
  .hero-left {
    position: relative;
    width: 100%;
    height: 100%;
  }
  .hero-shape {
    position: absolute;
    width: 504px;
    height: 143px;
    right: -10px;
    bottom: 0px;
    background: #0d28a6;
    border-radius: 60px 0px 0px 0px;
    z-index: 0;
    overflow: hidden;
  }
  .hero-img {
    position: absolute;
    z-index: 1;
    width: 500px;
    height: auto;
    right: -10px;
    bottom: 0px;
    overflow: hidden;
  }

  #our-service {
    margin: 40px 0px;
    background-color: #ffffff;
  }

  .service-item {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    padding: 10px 20px;
    overflow: hidden;
  }
  .service-left {
    position: relative;
    width: 100%;
    height: 100%;
  }
  .service-right {
    position: relative;
    width: 100%;
    height: 100%;
  }
  .service-right div ul {
    list-style-type: none;
    padding: 0px;
  }
  .service-right div ul li {
    margin-bottom: 10px;
  }
  .service-shape-blue {
    position: absolute;
    width: 250px;
    height: 250px;
    left: 70px;
    top: 68px;
    border-radius: 50%;
    background: #0d28a6;
    overflow: hidden;
    background-image: url(../public/img/service_girl2.png);
    background-size: cover;
  }
  .service-shape-green {
    position: absolute;
    width: 133px;
    height: 133px;
    left: 0px;
    top: 20px;
    border-radius: 50%;
    background: #92d094;
  }
  .service-shape-yellow {
    position: absolute;
    width: 50px;
    height: 50px;
    left: 20px;
    bottom: 20px;
    border-radius: 50%;
    background: #f9cc00;
  }
  .service-shape-red {
    position: absolute;
    width: 30px;
    height: 30px;
    right: 80px;
    top: 40px;
    border-radius: 50%;
    background: #fa2c5a;
  }

  .banner-body {
    border-radius: 0px;
  }

  #faq {
    margin: 30px 0px;
    background-color: #ffffff;
  }

  .faq-left {
    width: 100%;
  }
  .faq-right {
    width: 100%;
  }

  .testimonial-carousel {
    overflow: hidden;
    width: 100%;
  }
  .testimonial-card {
    padding: 30px;
    width: 419px;
    height: 270px;
    background-color: #f1f3ff;
    border-radius: 10px;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15);
  }
  .testimonial-card-avatar {
    width: 40px;
    height: 40px;
  }
  .testimonial-card-star {
    width: 15px;
    height: 15px;
  }
}/*# sourceMappingURL=LandingPage.css.map */